# Dependencies
node_modules/

# Nuxt
.nuxt/
.output/
dist/

# Build
*.local

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Turbo
.turbo/
